html {
    height: 100%;
    width: 100%;

}



.card {
    box-shadow: 2px 2px 7px 0px black;
    transition: all 500ms;
}

.card:hover {
    transform: scale(1.1);
}

nav {
    box-shadow: 1px 1px 10px 0px black;
}